@import './../../scss/variables';
@import './../../scss/mixines';


.button {
    display: inline-block;
    height: 56px;
    border: none;
    border-radius: $borderRadius;
    color: $buttonColor;
    background-color: $buttonOptionBg;
    outline: none;

    @include w-from($screen-md) {
        height: 64px;       
    }     

    &:hover {
        cursor:pointer
    }

    &:active {
        border: $buttonBorder 2px solid
    }


    &_submit {
        width: 100%;
        background-color: $buttonSubmitBg;
        font-weight: $fontWeightBold;
        color: $fontColor
    }
    
}