@import './../../scss/variables';
@import './../../scss/mixines';

.password {
    display: inline;
    min-height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: $borderRadius;
    background-color: $formPasswordBg;
    color: $formPasswordColor;
    word-break: break-word;

    @include w-from($screen-md) {
        height: 64px;
    }
}