@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');
@import 'scss/normalize';
@import 'scss/variables';
@import 'scss/mixines';
@import 'scss/header';
@import 'scss/intro';
@import 'scss/form';
@import 'scss/button';
@import 'scss/footer';

html,
body {
    height: 100%;
}

body {
    background-color: $pageBg;
    font-family: $fontFamily;
    font-weight: $fontWeight;

    display: grid;
    grid-template-areas: "header""main""footer";
    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr 48px;

    @include w-from($screen-md) {
        grid-template-rows: 120px 1fr 48px;
    }

    // overflow: hidden
}

a {
    color: $fontColor;
    text-decoration: none;
}

.main {
    grid-area: main;
    height: 100%;
}